<app-header [title]="title"></app-header>

<ion-content [fullscreen]="true">
  <div id="main">
    <app-game-header [player]="player"></app-game-header>
    <table class="hash-game-table">
      <tr class="linha">
        <td class="coluna" #space1 (click)="validarJogo('space1')">
          <div></div>
        </td>
        <td class="coluna" #space2 (click)="validarJogo('space2')">
          <div></div>
        </td>
        <td class="coluna" #space3 (click)="validarJogo('space3')">
          <div></div>
        </td>
      </tr>
      <tr class="linha">
        <td class="coluna" #space4 (click)="validarJogo('space4')">
          <div></div>
        </td>
        <td class="coluna" #space5 (click)="validarJogo('space5')">
          <div></div>
        </td>
        <td class="coluna" #space6 (click)="validarJogo('space6')">
          <div></div>
        </td>
      </tr>
      <tr class="linha">
        <td class="coluna" #space7 (click)="validarJogo('space7')">
          <div></div>
        </td>
        <td class="coluna" #space8 (click)="validarJogo('space8')">
          <div></div>
        </td>
        <td class="coluna" #space9 (click)="validarJogo('space9')">
          <div></div>
        </td>
      </tr>
    </table>
  </div>
</ion-content>
